#dashboard {
  padding-top: 10vh;
  background-image: url("../assets/4K_227_Background.jpg");
  background-size: cover;
  color: white;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
}

.greeting {
  background-color: rgb(0, 0, 0, 0.8);
  max-width: fit-content;
}

.greetingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
