#navbar {
	display: flex;
	justify-content: space-between;


}

.navbar-brand {
	color: white;
	font-size:30px;
	text-shadow: 2px 2px 4px black;
}

navbar-brand:focus, .navbar-brand:hover {
	color: #D8BFD8;
	font-weight:bolder;
}

